DSL/Photo/宝可梦牌卡生成器 (1).yml
app:
  description: ''
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: "\u5B9D\u53EF\u68A6\u724C\u5361\u751F\u6210\u5668"
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: llm-source-1721115962045-target
      source: llm
      sourceHandle: source
      target: '1721115962045'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: answer
      id: 1721116114016-source-answer-target
      source: '1721116114016'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1721115501752-source-llm-target
      source: '1721115501752'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1721115962045-source-1721116168905-target
      source: '1721115962045'
      sourceHandle: source
      target: '1721116168905'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1721116168905-source-1721181223986-target
      source: '1721116168905'
      sourceHandle: source
      target: '1721181223986'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: tool
      id: 1721181223986-source-1721116114016-target
      source: '1721181223986'
      sourceHandle: source
      target: '1721116114016'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: "\u5F00\u59CB"
        type: start
        variables: []
      height: 54
      id: '1721115501752'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-max-1201
          provider: tongyi
        prompt_template:
        - id: b3c743ce-33a3-48b1-95ac-0562bbd9db4f
          role: system
          text: "\u9009\u53D6 \u5C71\u6D77\u7D93\u4E2D\u76841\u7A2E\u6700\u7279\u6B8A\
            \u7684\u795E\u7378\n(\u4E0D\u53EF\u4EE5\u51FA\u73B0\u4EFB\u4F55\u9752\u9F8D\
            \u3001\u767D\u864E\u3001\u6731\u96C0\u3001\u7384\u6B66\u3001\u4E5D\u5C3E\
            \u72D0\u3001\u9E92\u9E9F\u8FD9\u6837\u7684\u540D\u79F0)\n\u518D\u4ECE\
            \ \u5E0C\u814A\u795E\u8BDD\u4E2D\u6458\u53D61\u79CD\u6700\u7279\u6B8A\u7684\
            \u602A\u7269\n\u7136\u540E \u9009\u53D61\u4E2A\u5317\u6B27\u795E\u8BDD\
            \u4E2D\u7684\u7279\u6B8A\u602A\u7269\n\u518D\u4ECE\u9009\u53D61\u4E2A\u53E4\
            \u7F57\u9A6C\u795E\u8BDD\u4E2D\u7684\u7279\u6B8A\u602A\u7269\n\u8FD8\u6709\
            \u9009\u53D61\u4E2A\u53E4\u57C3\u53CA\u795E\u8BDD\u4E2D\u7684\u7279\u6B8A\
            \u602A\u7269\n\u518D\u6293\u53D61\u4E2A\u5B9D\u53EF\u68A6\u4E2D\u6700\u7279\
            \u6B8A\u7684\u602A\u7269\uFF08\u4E0D\u53EF\u4EE5\u91CD\u590D\uFF0C\u4E0D\
            \u53EF\u4EE5\u51FA\u73B0\u8D85\u68A6\uFF09\n\u518D\u6293\u53D61\u53EA\u9B54\
            \u517D\u4E16\u754C\u4E2D\u6700\u7279\u6B8A\u7684\u7684\u602A\u7269\uFF08\
            \u4E0D\u53EF\u4EE5\u91CD\u590D\uFF0C\u4E0D\u53EF\u4EE5\u51FA\u73B0\u6B7B\
            \u4EA1\u4E4B\u7FFC\uFF09\n\u6700\u540E \u6309\u7167\u5B57\u5178\u7684\u65B9\
            \u5F0F\u8F93\u51FA 7\u79CD\u751F\u7269\u7684\u540D\u79F0\u3002\n\u4EC5\
            \u4EC5\u8F93\u51FA\u540D\u79F0\u5373\u53EF\uFF0C\u4E0D\u9700\u8981\u8F93\
            \u51FA\u5176\u4ED6\u989D\u5916\u522B\u7684\u5185\u5BB9"
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: llm
      position:
        x: 556.6052722088937
        y: 282
      positionAbsolute:
        x: 556.6052722088937
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1721116114016.files#}}

          {{#1721115962045.text#}}'
        desc: ''
        selected: false
        title: "\u76F4\u63A5\u56DE\u590D"
        type: answer
        variables: []
      height: 126
      id: answer
      position:
        x: 2480
        y: 282
      positionAbsolute:
        x: 2480
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            frequency_penalty: 0.1
            presence_penalty: 0.1
            temperature: 0.8
            top_p: 0.9
          mode: chat
          name: qwen-max-longcontext
          provider: tongyi
        prompt_template:
        - id: 127c5bd1-976e-4365-9d91-6c916f66b8d1
          role: system
          text: ''
        - id: b40ddfba-4fd3-46f2-86e7-3a82a253b9e9
          role: user
          text: "\u8BF7\u57FA\u4E8E{{#llm.text#}}\u7684\u516B\u4E2A\u751F\u7269\uFF0C\
            \u6458\u53D6\u6BCF\u4E2A\u795E\u517D\u7684\u4E00\u90E8\u5206\u4F18\u7F3A\
            \u70B9\uFF0C\u878D\u5408\u751F\u6210\u4E00\u4E2A\u65B0\u751F\u7269\uFF0C\
            \n\n\u6765\u8BBE\u8BA1\u4E00\u4E2A\u65B0\u54C1\u79CD\u5B9D\u53EF\u68A6\
            \u7684\u5916\u89C2\u4EE5\u53CA\u724C\u5361\uFF0C\u4EC5\u4EC5\u9700\u8981\
            \u4E00\u4E2A\u3002\n    \u724C\u5361\u9700\u8981\u5305\u62EC\u4EE5\u4E0B\
            \u8D44\u8BAF:\n    - \u65B0\u5B9D\u53EF\u68A6\u540D\u79F0(\u662F\u6839\
            \u636E\u5341\u4E2A\u795E\u517D\u6240\u884D\u4F38\u53D6\u7684\u540D\u5B57\
            )\uFF0C\u4EE5\u4E8C\u7EA7\u6807\u9898\u8F93\u51FA\n    - \u5C5E\u6027\n\
            \    - \u5404\u79CD\u80FD\u529B\u503C\n    - \u5FC5\u6740\u6280 \uFF08\
            3-5\u4E2A\uFF0C\u4EE5\u5177\u4F53\u7684\u6570\u503C\u8BF4\u660E\u6280\u80FD\
            \u7684\u4F24\u5BB3\uFF0C\u6548\u679C\uFF09\n    - \u7279\u8272\uFF08\u6839\
            \u636E\u5341\u4E2A\u795E\u517D\u4F18\u7F3A\u70B9\u63D0\u51FA\u7684\uFF0C\
            \u4E0D\u53EF\u4EE5\u51FA\u73B0\u201C\u795E\u517D\u201D\u7B49\u7B49\u7C7B\
            \u4F3C\u8BCD\u4E49\u7684\u8BCD\u6C47\uFF0C\u4E3B\u8981\u8BF4\u660E\u4F46\
            \u4E0D\u9650\u4E8E\u672C\u8EAB\u653B\u51FB\u65B9\u5F0F\uFF0C\u653B\u51FB\
            \u673A\u5236\uFF0C\u751F\u5B58\u673A\u5236\uFF0C\u9632\u5FA1\u673A\u5236\
            \uFF0C\u7279\u70B9\u7B49\u7B49\uFF09\uFF0C\u4E0D\u53EF\u4EE5\u51FA\u73B0\
            \u201C\u878D\u5408\u4E86\u5341\u4E2A\u4F20\u8BF4\u4E2D\u7684\u795E\u517D\
            \u4E4B\u4F18\u70B9\u4E0E\u7F3A\u70B9\u201D\u8FD9\u6837\u7684\u53E5\u5B50\
            \n    - \u7B80\u77ED\u7684\u6545\u4E8B\u4ECB\u7ECD\uFF08\u6839\u636E\u5341\
            \u4E2A\u795E\u517D\u5386\u53F2\u6545\u4E8B\u7ED3\u5408\u8D77\u6765\u751F\
            \u6210\uFF0C\u4E0D\u5FC5\u5728\u4ECB\u7ECD\u4E2D\u63D0\u5230\u878D\u5408\
            \u4E86\u54EA\u4E9B\u795E\u8BDD\u751F\u7269\uFF0C\u8BF4\u660E\u4F46\u4E0D\
            \u9650\u4E8E\u4ED6\u7684\u51FA\u751F\uFF0C\u505A\u8FC7\u4EC0\u4E48\u4E8B\
            \u60C5\uFF0C\u7ED3\u5C40\u5982\u4F55\u7B49\u7B49\uFF09\n    - \u9019\u500B\
            \u65B0\u5BF6\u53EF\u5922\u7684\u8A2D\u8A08\u6982\u5FF5\u89E3\u8AAA\uFF0C\
            \u540C\u65F6\uFF0C\u5177\u4F53\u6307\u51FA\u7075\u611F\u6765\u81EA\u4E8E\
            \u54EA\u4E9B\u751F\u7269\uFF09"
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1721115962045'
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: dalle
        provider_name: dalle
        provider_type: builtin
        selected: false
        title: "DALL-E 3 \u7ED8\u753B"
        tool_configurations:
          n: 1
          quality: hd
          size: horizontal
          style: vivid
        tool_label: "DALL-E 3 \u7ED8\u753B"
        tool_name: dalle3
        tool_parameters:
          prompt:
            type: mixed
            value: '{{#1721116168905.text#}} '
        type: tool
      height: 168
      id: '1721116114016'
      position:
        x: 2132
        y: 282
      positionAbsolute:
        x: 2132
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            frequency_penalty: 0.1
            presence_penalty: 0.1
            temperature: 0.8
            top_p: 0.9
          mode: chat
          name: qwen-max-longcontext
          provider: tongyi
        prompt_template:
        - id: e1224b35-0ac9-4253-a088-c4e648c8fee8
          role: system
          text: "\u4F60\u662F\u4E00\u4E2A\u7F8E\u5DE5\u8BBE\u8BA1\u4E13\u5BB6\uFF0C\
            \u4ECE\u4E8B\u7ED8\u753B\u884C\u4E1A\uFF0C\u4F60\u7684\u5DE5\u4F5C\u662F\
            \u5199\u957F\u5F62\u5F0F\u7684\u6709\u5438\u5F15\u529B\u7684\u6F2B\u753B\
            \uFF0C\u63D0\u4F9B\u6709\u521B\u9020\u529B\u7684\u7F8E\u672F\u98CE\u683C\
            \u5EFA\u8BAE\u3002"
        - id: becd2209-a580-4e38-87ba-4a99c69dad13
          role: user
          text: "\u6839\u636E{{#1721115962045.text#}}\u63D0\u4F9B\u7684\u751F\u7269\
            \uFF0C\u67E5\u627E\u5176\u76F8\u5173\u8D44\u6599\uFF0C\u627E\u51FA\u5176\
            \u8272\u8C03\uFF0C\u751F\u6D3B\u573A\u666F\uFF0C\u6837\u8C8C\u7279\u5F81\
            \u4E0D\u9650\u4E8E\u8FD9\u4E9B\u7B49\u7B49\u3002\u8BF7\u4EE5\u5B9D\u53EF\
            \u68A6\u8BBE\u8BA1\u98CE\u683C\u4E3A\u4E3B\u4F53\uFF0C\u5C3D\u53EF\u80FD\
            \u7ED3\u5408\u4E0A\u8FF0\u63D0\u4F9B\u7684\u8D44\u6599\uFF0C\u601D\u8003\
            \u5927\u65B9\u5411\u4E0A\u4F60\u60F3\u8981\u5448\u73FE\u7684\u8996\u89BA\
            \u6548\u679C\uFF0C\u8ACB\u5185\u5BB9\u5C3D\u53EF\u80FD\u7CBE\u7C21\uFF0C\
            \u4E0D\u9700\u8981\u8FC7\u591A\u7EC6\u8282\u7684\u63CF\u8FF0\uFF0C\u4F7F\
            \u7528\u82F1\u6587\u64B0\u5BEB\u3002"
        - id: b55c435c-523b-4541-a2e1-fa09c4a3eca1
          role: assistant
          text: ''
        selected: false
        title: "\u7ED8\u56FE\u57FA\u672C\u98CE\u683C"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1721116168905'
      position:
        x: 1420.3395427964797
        y: 282
      positionAbsolute:
        x: 1420.3395427964797
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-max-longcontext
          provider: tongyi
        prompt_template:
        - id: 7875ef06-78f8-4645-a927-b04b5951b43d
          role: system
          text: ''
        - id: c579f80a-d3dd-4d6e-bfb1-a395918edb8a
          role: user
          text: "### \u7528\u6237\n\u4F60\u662F\u4E00\u4E2Aprompt\u4FEE\u6539\u5927\
            \u5E08\uFF0C\u8BF7\u4F60\u5C3D\u53EF\u80FD\u5B8C\u5584{{#1721116168905.text#}}\u751F\
            \u6210\u4E00\u4E2A\u66F4\u7B26\u5408\u9700\u6C42\uFF0C\u4F7F\u7528dell-e\
            \ 3\u63D2\u4EF6\u7ED8\u753B\u7684prompt\n##\u76EE\u6807\uFF1A\n\u6700\u7EC8\
            \u7684\u56FE\u7247\u5C06\u8981\u5E26\u6709\u666F\u6DF1\u76843d\u7ACB\u4F53\
            \u611F\uFF0C\u88DC\u5145\u8272\u8ABF\u3001\u80CC\u666F\u63CF\u8FF0\u3001\
            \u5177\u9AD4\u5B9D\u53EF\u68A6\u98A8\u683C\u3001\u756B\u9762\u7D30\u7BC0\
            \uFF0C\u5FC5\u9808\u5177\u9AD4\u7684\u63CF\u8FF0\uFF0C\u540C\u6642\u81F3\
            \u5C113\u500B\u6548\u679C\u8A5E(\u5149\u7167\u6548\u679C\u3001\u8272\u5F69\
            \u8272\u8ABF\u3001\u6E32\u67D3\u6548\u679C\u3001\u8996\u89BA\u98A8\u683C\
            )\u548C1\u500B\u4EE5\u4E0A\u7684\u69CB\u5716\u6280\u5DE7\u3002\n##\u9650\
            \u5236\uFF1A\n- \u4E00\u5B9A\u8981\u51FA\u73B0\u80CC\u666F\uFF0C\u800C\
            \u4E14\u56FE\u50CF\u4E2D\u80CC\u666F\u4F1A\u662F\u8BE5\u751F\u7269\u4E3B\
            \u8981\u7684\u6816\u606F\u5730\n- \u4E0D\u53EF\u4EE5\u6709\u4EFB\u4F55\
            \u5176\u4ED6\u89D2\u8272\u51FA\u73B0\uFF0C\u53EA\u80FD\u51FA\u73B0\u4E00\
            \u4E2A\u4E3B\u89D2\u3002\n- \u6CE8\u610F\u7ED8\u753B\u98CE\u683C\u7684\
            \u7EDF\u4E00\n- \u4E0D\u53EF\u4EE5\u51FA\u73B0\u4EFB\u4F55\u6587\u5B57\
            \uFF08\u5305\u62EC\u6C49\u5B57\uFF0C\u82F1\u6587\uFF09\n\n\u8ACB\u8A2D\
            \u5B9A\u96A8\u6A5F\u7A2E\u5B50\u503C\u70BA42\uFF0C{size=\"1792x1024\"\
            ,n=1,prompt=final_prompt}\uFF0C\u4EE5\u69CB\u6210\u5B8C\u6574\u7684prompt\uFF0C\
            prompt\u4EE5\u82F1\u6587\u64B0\u5199\u3002"
        selected: false
        title: LLM 4
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1721181223986'
      position:
        x: 1776.680492089227
        y: 282
      positionAbsolute:
        x: 1776.680492089227
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 249.31463909961838
      y: 278.76186308489906
      zoom: 0.5000000000000007
