DSL/倍思-文案翻译.yml
app:
  description: 倍思文案翻译
  icon: cake
  icon_background: '#E0EAFF'
  mode: workflow
  name: 倍思-文案翻译
kind: app
version: 0.1.0
workflow:
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1720591167961-source-1720591739607-target
      source: '1720591167961'
      sourceHandle: source
      target: '1720591739607'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1720591739607-source-1720662666155-target
      source: '1720591739607'
      sourceHandle: source
      target: '1720662666155'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1720662666155-source-1720662673379-target
      source: '1720662666155'
      sourceHandle: source
      target: '1720662673379'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1720662673379-source-1720662679991-target
      source: '1720662673379'
      sourceHandle: source
      target: '1720662679991'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 需要翻译的文本
          max_length: 33024
          options: []
          required: true
          type: paragraph
          variable: text
        - label: 翻译目标语言
          max_length: 48
          options:
          - 英语
          - 日语
          - 荷兰语
          - 德语
          - 俄语
          - 韩语
          - 西班牙语
          - 波兰语
          - 泰语
          - 法语
          - 意大利语
          - 葡萄牙语
          - 阿拉伯语
          - 中文
          - 越南语
          required: true
          type: select
          variable: target_lang
        - label: 输入源语言
          max_length: 48
          options:
          - 中文
          - 英文
          - 日语
          - 韩语
          - 西班牙语
          - 波兰语
          - 俄语
          - 德语
          - 泰语
          - 法语
          - 意大利语
          - 葡萄牙语
          - 阿拉伯语
          - 荷兰语
          - 越南语
          required: true
          type: select
          variable: source_lang
        - label: 需要翻译为国家风格
          max_length: 48
          options:
          - 中国
          - 日本
          - 韩国
          - 美国
          - 俄国
          - 德国
          - 波兰
          - 西班牙
          - 葡萄牙
          - 阿拉伯
          - 法国
          - 泰国
          - 荷兰
          - 越南
          required: true
          type: select
          variable: country
      height: 166
      id: '1720591167961'
      position:
        x: 81.21079660790971
        y: 282
      positionAbsolute:
        x: 81.21079660790971
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: 69a2fd60-2a17-47a5-8a49-91662dbffce0
          role: system
          text: You are an expert linguist, specializing in translation from {{#1720591167961.source_lang#}}to
            {{#1720591167961.target_lang#}}.
        - id: 1d5e6ab7-c10c-4fd9-80bc-8952776b8ada
          role: user
          text: 'This is an User input  to {{#1720591167961.target_lang#}} translation,
            please provide the {{#1720591167961.target_lang#}} translation for this
            text.



            Do not provide any explanations or text apart from the translation.

            {{#1720591167961.source_lang#}}: {{#1720591167961.text#}}

            {{#1720591167961.target_lang#}}:'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 96
      id: '1720591739607'
      position:
        x: 389.91477062811816
        y: 282
      positionAbsolute:
        x: 389.91477062811816
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: c036b048-8a55-463e-9e1d-3524b04fd0b3
          role: system
          text: You are an expert linguist specializing in translation from {{#1720591167961.source_lang#}}
            to {{#1720591167961.target_lang#}}. You will be provided with a source
            text and its translation and your goal is to improve the translation.
        - id: 30029cd0-fe76-4ddc-9fc5-f26b17b84ed0
          role: user
          text: "Your task is to carefully read a source text and a translation from\
            \ {{#1720591167961.source_lang#}} to {{#1720591167961.target_lang#}},\
            \ and then give constructive criticism and helpful suggestions to improve\
            \ the translation. \n\n\nThe final style and tone of the translation should\
            \ match the style of {{#1720591167961.target_lang#}} colloquially spoken\
            \ in {{#1720591167961.country#}}.\n\nThe source text and initial translation,\
            \ delimited by XML tags <SOURCE_TEXT></SOURCE_TEXT> and <TRANSLATION></TRANSLATION>,\
            \ are as follows:\n\n<SOURCE_TEXT>\n{{#1720591167961.text#}}\n</SOURCE_TEXT>\n\
            \n<TRANSLATION>\n{{#1720591739607.text#}}\n</TRANSLATION>\n\nWhen writing\
            \ suggestions, pay attention to whether there are ways to improve the\
            \ translation's \n(i) accuracy (by correcting errors of addition, mistranslation,\
            \ omission, or untranslated text),\n(ii) fluency (by applying {{#1720591167961.target_lang#}}\
            \ grammar, spelling and punctuation rules, and ensuring there are no unnecessary\
            \ repetitions),\n\n\n(iii) style (by ensuring the translations reflect\
            \ the style of the source text and take into account any cultural context),\n\
            (iv) terminology (by ensuring terminology use is consistent and reflects\
            \ the source text domain; and by only ensuring you use equivalent idioms\
            \ {{#1720591167961.target_lang#}}).\n\n\n\nWrite a list of specific, helpful\
            \ and constructive suggestions for improving the translation.\nEach suggestion\
            \ should address one specific part of the translation.\nOutput only the\
            \ suggestions and nothing else."
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 96
      id: '1720662666155'
      position:
        x: 696
        y: 282
      positionAbsolute:
        x: 696
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini-2024-07-18
          provider: openai
        prompt_template:
        - id: 8874c6b8-0ee3-4ed7-bb4e-558ec8b2a20c
          role: system
          text: You are an expert linguist, specializing in translation editing from
            {{#1720591167961.source_lang#}} to {{#1720591167961.target_lang#}}
        - id: 0131542e-0b33-438e-851a-65cd1e006a99
          role: user
          text: "Your task is to carefully read, then edit, a translation from {{#1720591167961.source_lang#}}\
            \ to {{#1720591167961.target_lang#}}, taking into\naccount a list of expert\
            \ suggestions and constructive criticisms.\n\nThe source text, the initial\
            \ translation, and the expert linguist suggestions are delimited by XML\
            \ tags <SOURCE_TEXT></SOURCE_TEXT>, <TRANSLATION></TRANSLATION> and <EXPERT_SUGGESTIONS></EXPERT_SUGGESTIONS>\
            \ \nas follows:\n\n<SOURCE_TEXT>\n{{#1720591167961.text#}}\n</SOURCE_TEXT>\n\
            \n<TRANSLATION>\n{{#1720591739607.text#}}\n</TRANSLATION>\n\n<EXPERT_SUGGESTIONS>\n\
            {{#1720662666155.text#}}\n</EXPERT_SUGGESTIONS>\nPlease take into account\
            \ the expert suggestions when editing the translation. Edit the translation\
            \ by ensuring:\n(i) accuracy (by correcting errors of addition, mistranslation,\
            \ omission, or untranslated text),\n(ii) fluency (by applying {{#1720591167961.target_lang#}}grammar,\
            \ spelling and punctuation rules and ensuring there are no unnecessary\
            \ repetitions), \n(iii) style (by ensuring the translations reflect the\
            \ style of the source text)\n(iv) terminology (inappropriate for context,\
            \ inconsistent use), or\n(v) other errors.\n\nOutput only the new translation\
            \ and nothing else."
        selected: true
        title: LLM 3
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 96
      id: '1720662673379'
      position:
        x: 999
        y: 282
      positionAbsolute:
        x: 999
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1720662673379'
          - text
          variable: text
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1720662679991'
      position:
        x: 1303
        y: 282
      positionAbsolute:
        x: 1303
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 182.18401972659012
      y: 50.73331421737794
      zoom: 0.9214641861987113
