DSL/咨询助手/留学规划助手.yml
app:
  description: ''
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: "\u7559\u5B66\u89C4\u5212\u52A9\u624B"
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1721194600610-source-1721195269439-target
      source: '1721194600610'
      sourceHandle: source
      target: '1721195269439'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1721195269439-true-llm-target
      source: '1721195269439'
      sourceHandle: 'true'
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1721195269439-false-1721195310940-target
      source: '1721195269439'
      sourceHandle: 'false'
      target: '1721195310940'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: llm-source-1721199175473-target
      source: llm
      sourceHandle: source
      target: '1721199175473'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1721195310940-source-1721199562017-target
      source: '1721195310940'
      sourceHandle: source
      target: '1721199562017'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1721199562017-source-1721200603014-target
      source: '1721199562017'
      sourceHandle: source
      target: '1721200603014'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1721200603014-source-1721200645516-target
      source: '1721200603014'
      sourceHandle: source
      target: '1721200645516'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1721200645516-source-1721199903221-target
      source: '1721200645516'
      sourceHandle: source
      target: '1721199903221'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1721199175473-source-1721201670338-target
      source: '1721199175473'
      sourceHandle: source
      target: '1721201670338'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1721201670338-source-1721201684245-target
      source: '1721201670338'
      sourceHandle: source
      target: '1721201684245'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1721201684245-source-answer-target
      source: '1721201684245'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: "\u5F00\u59CB"
        type: start
        variables:
        - label: "GPA\uFF085.0\uFF09"
          max_length: 48
          options: []
          required: true
          type: number
          variable: GPA
        - label: "\u672C\u79D1\u9662\u6821"
          max_length: 20
          options:
          - "\u53CC\u975E"
          - '211'
          - '985'
          - C9
          - "\u6E05\u5317"
          required: true
          type: select
          variable: origin_school
        - label: "\u9884\u7B97\uFF08\u4EBA\u6C11\u5E01\uFF09"
          max_length: 48
          options: []
          required: true
          type: number
          variable: budget
        - label: "\u76EE\u6807\u533A\u57DF"
          max_length: 100
          options:
          - "\u6B27\u6D32"
          - "\u7F8E\u56FD"
          - "\u4E1C\u5357\u4E9A"
          - "\u4E2D\u56FD\u9999\u6E2F\u548C\u6FB3\u95E8"
          - ''
          required: false
          type: text-input
          variable: region
        - label: "\u5B66\u672F\u6210\u679C"
          max_length: 300
          options: []
          required: false
          type: paragraph
          variable: paper
        - label: "\u4E13\u4E1A"
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: origin_major
        - label: "\u63A8\u8350\u4FE1"
          max_length: 10
          options: []
          required: false
          type: text-input
          variable: latter
        - label: "\u804C\u4E1A\u89C4\u5212"
          max_length: 20
          options: []
          required: false
          type: text-input
          variable: careerPlan
        - label: "\u8BED\u8A00\u6210\u7EE9"
          max_length: 10
          options: []
          required: false
          type: text-input
          variable: language
      height: 298
      id: '1721194600610'
      position:
        x: 356.4398925820768
        y: 282
      positionAbsolute:
        x: 356.4398925820768
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-max
          provider: tongyi
        prompt_template:
        - id: 6ae61131-fe2d-44a3-9124-9fd61737e0eb
          role: system
          text: ''
        - edition_type: basic
          id: bbeb68f0-2887-4fb3-969e-1565ba41bd50
          role: user
          text: "\u4F5C\u4E3A\u7559\u5B66\u52A9\u624B\uFF0C\u4F60\u7684\u4EFB\u52A1\
            \u662F\u4E3A\u5B66\u751F\u63D0\u4F9B\u5173\u4E8E\u56FD\u5916\u7559\u5B66\
            \u7684\u5168\u65B9\u4F4D\u5E2E\u52A9\u3002\n\u4F60\u7684\u76EE\u6807\u662F\
            \u521D\u6B65\u5206\u6790\u7528\u6237\u7684\u4E00\u4E9B\u5173\u4E8E\u7559\
            \u5B66\u7684\u57FA\u672C\u60C5\u51B5\n\u5DE5\u4F5C\u6D41\u7A0B\u5982\u4E0B\
            \uFF1A\n\u5206\u6790GPA:{{#1721194600610.GPA#}};\u9884\u7B97{{#1721194600610.budget#}};\u672C\
            \u79D1\u9662\u6821{{#1721194600610.origin_school#}}\uFF0C\u786E\u5B9A\u8BE5\
            \u5B66\u751F\u7684\u57FA\u672C\u60C5\u51B5\n\n\u67E5\u627E\u8D44\u6599\
            \u5E93\u7ED3\u5408\u539F\u672C\u4E13\u4E1A{{#1721194600610.origin_major#}}\u63A8\
            \u8350\u4FE1{{#1721194600610.latter#}}\uFF1B\u804C\u4E1A\u89C4\u5212{{#1721194600610.careerPlan#}}\uFF1B\
            \u8BED\u8A00\u6210\u7EE9{{#1721194600610.language#}}\n\u6309\u7167\u4E09\
            \u4E2A\u6C42\u7A33\uFF0C\u4E09\u4E2A\u51B2\u523A\uFF0C\u4E09\u4E2A\u4FDD\
            \u5E95\u7684\u7B56\u7565\uFF0C\u6B63\u786E\u9009\u62E9\u4E5D\u4E2A\u5B66\
            \u6821\u3002\n\u4EC5\u4EC5\u8F93\u51FA\u76EE\u6807\u9662\u6821\u5373\u53EF\
            \uFF0C\u6309\u7167\u4E0B\u9762\u8F93\u51FA\u793A\u4F8B\u8F93\u51FA\uFF0C\
            \u4E0D\u9700\u8981\u8F93\u51FA\u989D\u5916\u7684\u5185\u5BB9\n##\u8F93\
            \u51FA\u793A\u4F8B\uFF1A\n1: MIT\n2: UCB \n3: ABC\n"
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: llm
      position:
        x: 1073.4866557283171
        y: 233.7657847747448
      positionAbsolute:
        x: 1073.4866557283171
        y: 233.7657847747448
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1721199175473.text#}}

          {{#1721201670338.text#}}

          {{#1721201684245.text#}}


          '
        desc: ''
        selected: true
        title: "\u76F4\u63A5\u56DE\u590D"
        type: answer
        variables: []
      height: 144
      id: answer
      position:
        x: 2396.3161415514724
        y: 233.7657847747448
      positionAbsolute:
        x: 2396.3161415514724
        y: 233.7657847747448
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        conditions:
        - comparison_operator: empty
          id: '1721195270908'
          value: ''
          variable_selector:
          - '1721194600610'
          - region
        desc: ''
        logical_operator: and
        selected: false
        title: "\u662F\u5426\u6709\u76EE\u6807\u5730\u533A"
        type: if-else
      height: 126
      id: '1721195269439'
      position:
        x: 737.7977001259871
        y: 282
      positionAbsolute:
        x: 737.7977001259871
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-max-longcontext
          provider: tongyi
        prompt_template:
        - id: 6ef77be9-8ce3-4883-9527-33b81e5837c9
          role: system
          text: ''
        - id: beb8bc32-bbd3-4370-8048-3f45d20c6c48
          role: user
          text: "\u4F5C\u4E3A\u7559\u5B66\u52A9\u624B\uFF0C\u4F60\u7684\u4EFB\u52A1\
            \u662F\u4E3A\u5B66\u751F\u63D0\u4F9B\u5173\u4E8E\u56FD\u5916\u7559\u5B66\
            \u7684\u5168\u65B9\u4F4D\u5E2E\u52A9\u3002\n\u4F60\u7684\u76EE\u6807\u662F\
            \u521D\u6B65\u5206\u6790\u7528\u6237\u7684\u4E00\u4E9B\u5173\u4E8E\u7559\
            \u5B66\u7684\u57FA\u672C\u60C5\u51B5\n\u5DE5\u4F5C\u6D41\u7A0B\u5982\u4E0B\
            \uFF1A\n\u5206\u6790GPA:{{#1721194600610.GPA#}};\u9884\u7B97{{#1721194600610.budget#}};\u672C\
            \u79D1\u9662\u6821{{#1721194600610.origin_school#}}\uFF0C\u786E\u5B9A\u8BE5\
            \u5B66\u751F\u7684\u57FA\u672C\u60C5\u51B5\n\n\u7ED3\u5408\u539F\u672C\
            \u4E13\u4E1A{{#1721194600610.origin_major#}}\u63A8\u8350\u4FE1{{#1721194600610.latter#}}\uFF1B\
            \u804C\u4E1A\u89C4\u5212{{#1721194600610.careerPlan#}}\uFF1B\u8BED\u8A00\
            \u6210\u7EE9{{#1721194600610.language#}}\n\n\n\u6309\u7167\u4E09\u4E2A\
            \u6C42\u7A33\uFF0C\u4E09\u4E2A\u51B2\u523A\uFF0C\u4E09\u4E2A\u4FDD\u5E95\
            \u7684\u7B56\u7565\uFF0C\u540C\u65F6\u4E00\u5B9A\u8981\u786E\u4FDD\u5B66\
            \u6821\u5730\u533A\u5728{{#1721194600610.region#}}\uFF0C\u6B63\u786E\u9009\
            \u62E9\u4E5D\u4E2A\u5B66\u6821\u3002\n\n\n\u4E25\u683C\u6309\u7167\u4E0B\
            \u9762\u8F93\u51FA\u793A\u4F8B\u8F93\u51FA\uFF0C\u4E0D\u9700\u8981\u8F93\
            \u51FA\u989D\u5916\u7684\u5185\u5BB9\uFF0C\u4E0D\u9700\u8981\u8F93\u51FA\
            \u5176\u4ED6\u989D\u5916\u7684\u5185\u5BB9\u3002\n##\u8F93\u51FA\u793A\
            \u4F8B\uFF1A\n**\u51B2\u523A\u9662\u6821**\n1: MIT\n2: UCB \n3: ABC\n\
            **\u6C42\u7A33\u9662\u6821**\n4:\n5:\n6:\n**\u4FDD\u5E95\u9662\u6821**\n\
            7:\n8:\n9:\n"
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1721195310940'
      position:
        x: 1073.4866557283171
        y: 423.91543910239784
      positionAbsolute:
        x: 1073.4866557283171
        y: 423.91543910239784
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-max-longcontext
          provider: tongyi
        prompt_template:
        - id: f1961839-169e-4be0-a37e-44f8f9eabb05
          role: system
          text: ''
        - id: 53739d92-5153-4d50-ac0a-62e2d2cfd31c
          role: user
          text: "\u4E25\u683C\u6309\u7167{{#llm.text#}}\u63D0\u4F9B\u7684\u4E09\u6240\
            \u51B2\u523A\u5927\u5B66\u83B7\u53D6\u76F8\u5173\u4FE1\u606F\uFF0C\u4E25\
            \u683C\u6309\u7167\u8F93\u51FA\u8303\u4F8B\u8F93\u51FA\uFF0C\u8F93\u51FA\
            \u8BED\u8A00\u4E3A\u4E2D\u6587\u3002\u4EC5\u4EC5\u8F93\u51FA\u6A21\u677F\
            \u7684\u5185\u5BB9\u5373\u53EF\uFF0C\u4E0D\u9700\u8981\u8F93\u51FA\u5176\
            \u4ED6\u5185\u5BB9\uFF0C\u4E0D\u8981\u968F\u610F\u589E\u52A0\u5176\u4ED6\
            \u58F0\u660E\u3002\n##\u8F93\u51FA\u8303\u4F8B\uFF1A\n**\u51B2\u523A\u5927\
            \u5B66**\n1\uFF1A\u9EBB\u7701\u7406\u5DE5\u5927\u5B66\n\u5F55\u53D6\u8981\
            \u6C42\uFF1A\nGPA\uFF1E4.0\n\u8BED\u8A00\u6210\u7EE9\uFF1A\u96C5\u601D\
            \uFF1E7\uFF0C\u6258\u798F\uFF1E120\n\u63D0\u4F9B\u5EFA\u8BAE\uFF1A\n\u52A0\
            \u5F3A\u82F1\u6587\u80FD\u529B\uFF0C\u63D0\u9AD8\u8BED\u8A00\u6210\u7EE9\
            \uFF0C\u52A0\u5F3A\u5B66\u672F\u80FD\u529B\n\u5B66\u6821\u4EA4\u901A\u60C5\
            \u51B5\uFF1A\n\u4F4D\u4E8E\u54EA\u91CC\uFF0C\u9644\u8FD1\u6709\u4EC0\u4E48\
            \u4EA4\u901A\n\u5B66\u6821\u7684\u6BD5\u4E1A\u751F\u60C5\u51B5\uFF1A\n\
            \u6709\u591A\u5C11\u4EBA\u5C31\u4E1A\uFF0C\u5C31\u4E1A\u7387\u5982\u4F55\
            \n\u5B66\u6821\u7684\u5B66\u672F\u80FD\u529B\uFF1A\n\u6BCF\u5E74\u79D1\
            \u7814\u4EA7\u51FA\uFF0C\u79D1\u7814\u7ECF\u8D39\n\u901A\u5E38\u7684\u8D39\
            \u7528\uFF1A\n\uFF08\u5305\u62EC\u751F\u6D3B\u8D39\u548C\u5B66\u8D39\u4E00\
            \u5171\u52A0\u8D77\u6765\u5927\u6982\u662F\u591A\u5C11\uFF09\n2\uFF1A\u9999\
            \u6E2F\u5927\u5B66\n\u5F55\u53D6\u8981\u6C42\uFF1A\nGPA\uFF1E4.0\n\u8BED\
            \u8A00\u6210\u7EE9\uFF1A\u96C5\u601D\uFF1E7\uFF0C\u6258\u798F\uFF1E120\n\
            \u63D0\u4F9B\u5EFA\u8BAE\uFF1A\n\u52A0\u5F3A\u82F1\u6587\u80FD\u529B\uFF0C\
            \u63D0\u9AD8\u8BED\u8A00\u6210\u7EE9\uFF0C\u52A0\u5F3A\u5B66\u672F\u80FD\
            \u529B\n\u5B66\u6821\u4EA4\u901A\u60C5\u51B5\uFF1A\n\u4F4D\u4E8E\u54EA\
            \u91CC\uFF0C\u9644\u8FD1\u6709\u4EC0\u4E48\u4EA4\u901A\n\u5B66\u6821\u7684\
            \u6BD5\u4E1A\u751F\u60C5\u51B5\uFF1A\n\u6709\u591A\u5C11\u4EBA\u5C31\u4E1A\
            \uFF0C\u5C31\u4E1A\u7387\u5982\u4F55\n\u5B66\u6821\u7684\u5B66\u672F\u80FD\
            \u529B\uFF1A\n\u6BCF\u5E74\u79D1\u7814\u4EA7\u51FA\uFF0C\u79D1\u7814\u7ECF\
            \u8D39\n\u901A\u5E38\u7684\u8D39\u7528\uFF1A\n\uFF08\u5305\u62EC\u751F\
            \u6D3B\u8D39\u548C\u5B66\u8D39\u4E00\u5171\u52A0\u8D77\u6765\u5927\u6982\
            \u662F\u591A\u5C11\uFF09\n3\uFF1A\u6FB3\u6D32\u5927\u5B66\n\u5F55\u53D6\
            \u8981\u6C42\uFF1A\nGPA\uFF1E4.0\n\u8BED\u8A00\u6210\u7EE9\uFF1A\u96C5\
            \u601D\uFF1E7\uFF0C\u6258\u798F\uFF1E120\n\u63D0\u4F9B\u5EFA\u8BAE\uFF1A\
            \n\u52A0\u5F3A\u82F1\u6587\u80FD\u529B\uFF0C\u63D0\u9AD8\u8BED\u8A00\u6210\
            \u7EE9\uFF0C\u52A0\u5F3A\u5B66\u672F\u80FD\u529B\n\u5B66\u6821\u4EA4\u901A\
            \u60C5\u51B5\uFF1A\n\u4F4D\u4E8E\u54EA\u91CC\uFF0C\u9644\u8FD1\u6709\u4EC0\
            \u4E48\u4EA4\u901A\n\u5B66\u6821\u7684\u6BD5\u4E1A\u751F\u60C5\u51B5\uFF1A\
            \n\u6709\u591A\u5C11\u4EBA\u5C31\u4E1A\uFF0C\u5C31\u4E1A\u7387\u5982\u4F55\
            \n\u5B66\u6821\u7684\u5B66\u672F\u80FD\u529B\uFF1A\n\u6BCF\u5E74\u79D1\
            \u7814\u4EA7\u51FA\uFF0C\u79D1\u7814\u7ECF\u8D39\n\u901A\u5E38\u7684\u8D39\
            \u7528\uFF1A\n\uFF08\u5305\u62EC\u751F\u6D3B\u8D39\u548C\u5B66\u8D39\u4E00\
            \u5171\u52A0\u8D77\u6765\u5927\u6982\u662F\u591A\u5C11\uFF09\n"
        selected: false
        title: LLM 3
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1721199175473'
      position:
        x: 1475.679927875886
        y: 233.7657847747448
      positionAbsolute:
        x: 1475.679927875886
        y: 233.7657847747448
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-max-longcontext
          provider: tongyi
        prompt_template:
        - id: 941821e9-673c-4d34-9dde-3eee14486a14
          role: system
          text: ''
        - id: 471dbdc1-478f-4113-a795-72f2ba31950d
          role: user
          text: "\u4E25\u683C\u6309\u7167{{#1721195310940.text#}}\u63D0\u4F9B\u7684\
            \u4E09\u6240\u51B2\u523A\u5927\u5B66\u83B7\u53D6\u76F8\u5173\u4FE1\u606F\
            \uFF0C\u4E25\u683C\u6309\u7167\u8F93\u51FA\u8303\u4F8B\u8F93\u51FA\uFF0C\
            \u8F93\u51FA\u8BED\u8A00\u4E3A\u4E2D\u6587\u3002\u4EC5\u4EC5\u8F93\u51FA\
            \u6A21\u677F\u7684\u5185\u5BB9\u5373\u53EF\uFF0C\u4E0D\u9700\u8981\u8F93\
            \u51FA\u5176\u4ED6\u5185\u5BB9\uFF0C\u4E0D\u8981\u968F\u610F\u589E\u52A0\
            \u5176\u4ED6\u58F0\u660E\u3002\n\n\n##\u8F93\u51FA\u8303\u4F8B\uFF1A\n\
            **\u51B2\u523A\u5927\u5B66**\n1\uFF1A\u9EBB\u7701\u7406\u5DE5\u5927\u5B66\
            \n\u5F55\u53D6\u8981\u6C42\uFF1A\nGPA\uFF1E4.0\n\u8BED\u8A00\u6210\u7EE9\
            \uFF1A\u96C5\u601D\uFF1E7\uFF0C\u6258\u798F\uFF1E120\n\u63D0\u4F9B\u5EFA\
            \u8BAE\uFF1A\n\u52A0\u5F3A\u82F1\u6587\u80FD\u529B\uFF0C\u63D0\u9AD8\u8BED\
            \u8A00\u6210\u7EE9\uFF0C\u52A0\u5F3A\u5B66\u672F\u80FD\u529B\n\u5B66\u6821\
            \u4EA4\u901A\u60C5\u51B5\uFF1A\n\u4F4D\u4E8E\u54EA\u91CC\uFF0C\u9644\u8FD1\
            \u6709\u4EC0\u4E48\u4EA4\u901A\n\u5B66\u6821\u7684\u6BD5\u4E1A\u751F\u60C5\
            \u51B5\uFF1A\n\u6709\u591A\u5C11\u4EBA\u5C31\u4E1A\uFF0C\u5C31\u4E1A\u7387\
            \u5982\u4F55\n\u5B66\u6821\u7684\u5B66\u672F\u80FD\u529B\uFF1A\n\u6BCF\
            \u5E74\u79D1\u7814\u4EA7\u51FA\uFF0C\u79D1\u7814\u7ECF\u8D39\n\u901A\u5E38\
            \u7684\u8D39\u7528\uFF1A\n\uFF08\u5305\u62EC\u751F\u6D3B\u8D39\u548C\u5B66\
            \u8D39\u4E00\u5171\u52A0\u8D77\u6765\u5927\u6982\u662F\u591A\u5C11\uFF09\
            \n\n2\uFF1A\u9999\u6E2F\u5927\u5B66\n\u5F55\u53D6\u8981\u6C42\uFF1A\n\
            GPA\uFF1E4.0\n\u8BED\u8A00\u6210\u7EE9\uFF1A\u96C5\u601D\uFF1E7\uFF0C\u6258\
            \u798F\uFF1E120\n\u63D0\u4F9B\u5EFA\u8BAE\uFF1A\n\u52A0\u5F3A\u82F1\u6587\
            \u80FD\u529B\uFF0C\u63D0\u9AD8\u8BED\u8A00\u6210\u7EE9\uFF0C\u52A0\u5F3A\
            \u5B66\u672F\u80FD\u529B\n\u5B66\u6821\u4EA4\u901A\u60C5\u51B5\uFF1A\n\
            \u4F4D\u4E8E\u54EA\u91CC\uFF0C\u9644\u8FD1\u6709\u4EC0\u4E48\u4EA4\u901A\
            \n\u5B66\u6821\u7684\u6BD5\u4E1A\u751F\u60C5\u51B5\uFF1A\n\u6709\u591A\
            \u5C11\u4EBA\u5C31\u4E1A\uFF0C\u5C31\u4E1A\u7387\u5982\u4F55\n\u5B66\u6821\
            \u7684\u5B66\u672F\u80FD\u529B\uFF1A\n\u6BCF\u5E74\u79D1\u7814\u4EA7\u51FA\
            \uFF0C\u79D1\u7814\u7ECF\u8D39\n\u901A\u5E38\u7684\u8D39\u7528\uFF1A\n\
            \uFF08\u5305\u62EC\u751F\u6D3B\u8D39\u548C\u5B66\u8D39\u4E00\u5171\u52A0\
            \u8D77\u6765\u5927\u6982\u662F\u591A\u5C11\uFF09\n3\uFF1A\u6FB3\u6D32\u5927\
            \u5B66\n\u5F55\u53D6\u8981\u6C42\uFF1A\nGPA\uFF1E4.0\n\u8BED\u8A00\u6210\
            \u7EE9\uFF1A\u96C5\u601D\uFF1E7\uFF0C\u6258\u798F\uFF1E120\n\u63D0\u4F9B\
            \u5EFA\u8BAE\uFF1A\n\u52A0\u5F3A\u82F1\u6587\u80FD\u529B\uFF0C\u63D0\u9AD8\
            \u8BED\u8A00\u6210\u7EE9\uFF0C\u52A0\u5F3A\u5B66\u672F\u80FD\u529B\n\u5B66\
            \u6821\u4EA4\u901A\u60C5\u51B5\uFF1A\n\u4F4D\u4E8E\u54EA\u91CC\uFF0C\u9644\
            \u8FD1\u6709\u4EC0\u4E48\u4EA4\u901A\n\u5B66\u6821\u7684\u6BD5\u4E1A\u751F\
            \u60C5\u51B5\uFF1A\n\u6709\u591A\u5C11\u4EBA\u5C31\u4E1A\uFF0C\u5C31\u4E1A\
            \u7387\u5982\u4F55\n\u5B66\u6821\u7684\u5B66\u672F\u80FD\u529B\uFF1A\n\
            \u6BCF\u5E74\u79D1\u7814\u4EA7\u51FA\uFF0C\u79D1\u7814\u7ECF\u8D39\n\u901A\
            \u5E38\u7684\u8D39\u7528\uFF1A\n\uFF08\u5305\u62EC\u751F\u6D3B\u8D39\u548C\
            \u5B66\u8D39\u4E00\u5171\u52A0\u8D77\u6765\u5927\u6982\u662F\u591A\u5C11\
            \uFF09\n"
        selected: false
        title: LLM 4
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1721199562017'
      position:
        x: 1475.679927875886
        y: 423.91543910239784
      positionAbsolute:
        x: 1475.679927875886
        y: 423.91543910239784
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1721199562017.text#}}

          {{#1721200603014.text#}}

          {{#1721200645516.text#}}

          '
        desc: ''
        selected: false
        title: "\u76F4\u63A5\u56DE\u590D 2"
        type: answer
        variables: []
      height: 144
      id: '1721199903221'
      position:
        x: 2404.554359715306
        y: 423.91543910239784
      positionAbsolute:
        x: 2404.554359715306
        y: 423.91543910239784
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-max-longcontext
          provider: tongyi
        prompt_template:
        - id: 9b263160-6944-4f0b-a9a4-573ff9e9ebf8
          role: system
          text: ''
        - id: 9bf971f8-e0ea-473b-bb97-ad3b118e1c69
          role: user
          text: "\u5B9E\u9645\u5185\u5BB9\u4E25\u683C\u6309\u7167{{#1721195310940.text#}}\u63D0\
            \u4F9B\u7684\u4E09\u6240\u6C42\u7A33\u5927\u5B66\u83B7\u53D6\u76F8\u5173\
            \u4FE1\u606F\uFF0C\u4E25\u683C\u6309\u7167\u8F93\u51FA\u8303\u4F8B\u8F93\
            \u51FA\uFF0C\u8F93\u51FA\u8303\u4F8B\u53EA\u662F\u683C\u5F0F\uFF0C\u5E76\
            \u975E\u5B9E\u9645\u5185\u5BB9\u8F93\u51FA\u8BED\u8A00\u4E3A\u4E2D\u6587\
            \u3002\u4EC5\u4EC5\u8F93\u51FA\u6A21\u677F\u7684\u5185\u5BB9\u5373\u53EF\
            \uFF0C\u4E0D\u9700\u8981\u8F93\u51FA\u5176\u4ED6\u5185\u5BB9\uFF0C\u4E0D\
            \u8981\u968F\u610F\u589E\u52A0\u5176\u4ED6\u58F0\u660E\u3002\n\n\n##\u8F93\
            \u51FA\u8303\u4F8B\n**\u6C42\u7A33\u5927\u5B66**\n4\uFF1A\u9999\u6E2F\u57CE\
            \u5E02\u5927\u5B66\n\u5F55\u53D6\u8981\u6C42\uFF1A\nGPA\uFF1E3.0\n\u8BED\
            \u8A00\u6210\u7EE9\uFF1A\u96C5\u601D\uFF1E6\uFF0C\u6258\u798F\uFF1E100\n\
            \u63D0\u4F9B\u5EFA\u8BAE\uFF1A\n\u52A0\u5F3A\u82F1\u6587\u80FD\u529B\uFF0C\
            \u63D0\u9AD8\u8BED\u8A00\u6210\u7EE9\uFF0C\u52A0\u5F3A\u5B66\u672F\u80FD\
            \u529B\n\u5B66\u6821\u4EA4\u901A\u60C5\u51B5\uFF1A\n\u4F4D\u4E8E\u54EA\
            \u91CC\uFF0C\u9644\u8FD1\u6709\u4EC0\u4E48\u4EA4\u901A\n\u5B66\u6821\u7684\
            \u6BD5\u4E1A\u751F\u60C5\u51B5\uFF1A\n\u6709\u591A\u5C11\u4EBA\u5C31\u4E1A\
            \uFF0C\u5C31\u4E1A\u7387\u5982\u4F55\n\u5B66\u6821\u7684\u5B66\u672F\u80FD\
            \u529B\uFF1A\n\u6BCF\u5E74\u79D1\u7814\u4EA7\u51FA\uFF0C\u79D1\u7814\u7ECF\
            \u8D39\n\u901A\u5E38\u7684\u8D39\u7528\uFF1A\n\uFF08\u5305\u62EC\u751F\
            \u6D3B\u8D39\u548C\u5B66\u8D39\u4E00\u5171\u52A0\u8D77\u6765\u5927\u6982\
            \u662F\u591A\u5C11\uFF09\n\n5\uFF1A\u6FB3\u95E8\u79D1\u6280\u5927\u5B66\
            \n\u5F55\u53D6\u8981\u6C42\uFF1A\nGPA\uFF1E4.0\n\u8BED\u8A00\u6210\u7EE9\
            \uFF1A\u96C5\u601D\uFF1E7\uFF0C\u6258\u798F\uFF1E120\n\u63D0\u4F9B\u5EFA\
            \u8BAE\uFF1A\n\u52A0\u5F3A\u82F1\u6587\u80FD\u529B\uFF0C\u63D0\u9AD8\u8BED\
            \u8A00\u6210\u7EE9\uFF0C\u52A0\u5F3A\u5B66\u672F\u80FD\u529B\n\u5B66\u6821\
            \u4EA4\u901A\u60C5\u51B5\uFF1A\n\u4F4D\u4E8E\u54EA\u91CC\uFF0C\u9644\u8FD1\
            \u6709\u4EC0\u4E48\u4EA4\u901A\n\u5B66\u6821\u7684\u6BD5\u4E1A\u751F\u60C5\
            \u51B5\uFF1A\n\u6709\u591A\u5C11\u4EBA\u5C31\u4E1A\uFF0C\u5C31\u4E1A\u7387\
            \u5982\u4F55\n\u5B66\u6821\u7684\u5B66\u672F\u80FD\u529B\uFF1A\n\u6BCF\
            \u5E74\u79D1\u7814\u4EA7\u51FA\uFF0C\u79D1\u7814\u7ECF\u8D39\n\u901A\u5E38\
            \u7684\u8D39\u7528\uFF1A\n\uFF08\u5305\u62EC\u751F\u6D3B\u8D39\u548C\u5B66\
            \u8D39\u4E00\u5171\u52A0\u8D77\u6765\u5927\u6982\u662F\u591A\u5C11\uFF09\
            \n\n6\uFF1A\u6FB3\u6D32\u56FD\u7ACB\u5927\u5B66\n\u5F55\u53D6\u8981\u6C42\
            \uFF1A\nGPA\uFF1E4.0\n\u8BED\u8A00\u6210\u7EE9\uFF1A\u96C5\u601D\uFF1E\
            7\uFF0C\u6258\u798F\uFF1E120\n\u63D0\u4F9B\u5EFA\u8BAE\uFF1A\n\u52A0\u5F3A\
            \u82F1\u6587\u80FD\u529B\uFF0C\u63D0\u9AD8\u8BED\u8A00\u6210\u7EE9\uFF0C\
            \u52A0\u5F3A\u5B66\u672F\u80FD\u529B\n\u5B66\u6821\u4EA4\u901A\u60C5\u51B5\
            \uFF1A\n\u4F4D\u4E8E\u54EA\u91CC\uFF0C\u9644\u8FD1\u6709\u4EC0\u4E48\u4EA4\
            \u901A\n\u5B66\u6821\u7684\u6BD5\u4E1A\u751F\u60C5\u51B5\uFF1A\n\u6709\
            \u591A\u5C11\u4EBA\u5C31\u4E1A\uFF0C\u5C31\u4E1A\u7387\u5982\u4F55\n\u5B66\
            \u6821\u7684\u5B66\u672F\u80FD\u529B\uFF1A\n\u6BCF\u5E74\u79D1\u7814\u4EA7\
            \u51FA\uFF0C\u79D1\u7814\u7ECF\u8D39\n\u901A\u5E38\u7684\u8D39\u7528\uFF1A\
            \n\uFF08\u5305\u62EC\u751F\u6D3B\u8D39\u548C\u5B66\u8D39\u4E00\u5171\u52A0\
            \u8D77\u6765\u5927\u6982\u662F\u591A\u5C11\uFF09\n"
        selected: false
        title: LLM 5
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1721200603014'
      position:
        x: 1804.554359715306
        y: 423.91543910239784
      positionAbsolute:
        x: 1804.554359715306
        y: 423.91543910239784
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-max-longcontext
          provider: tongyi
        prompt_template:
        - id: 2dc72190-4296-470e-99a3-cd9c5e7a6a7e
          role: system
          text: ''
        - id: 48606b53-37a1-4f23-8445-c3c96eea3b06
          role: user
          text: "\u5B9E\u9645\u5185\u5BB9\u4E25\u683C\u6309\u7167{{#1721195310940.text#}}\u63D0\
            \u4F9B\u7684\u4E09\u6240\u4FDD\u5E95\u5927\u5B66\u83B7\u53D6\u76F8\u5173\
            \u4FE1\u606F\uFF0C\u5C3D\u53EF\u80FD\u56DE\u7B54\u76F8\u5173\u95EE\u9898\
            \u3002\n\u4E25\u683C\u6309\u7167\u8F93\u51FA\u8303\u4F8B\u8F93\u51FA\uFF0C\
            \u8F93\u51FA\u8303\u4F8B\u53EA\u662F\u683C\u5F0F\uFF0C\u5E76\u975E\u5B9E\
            \u9645\u5185\u5BB9\u8F93\u51FA\u8BED\u8A00\u4E3A\u4E2D\u6587\u3002\u4EC5\
            \u4EC5\u8F93\u51FA\u6A21\u677F\u7684\u5185\u5BB9\u5373\u53EF\uFF0C\u4E0D\
            \u9700\u8981\u8F93\u51FA\u5176\u4ED6\u5185\u5BB9\uFF0C\u4E0D\u8981\u968F\
            \u610F\u589E\u52A0\u5176\u4ED6\u58F0\u660E\u3002\n\n##\u8F93\u51FA\u8303\
            \u4F8B\n**\u4FDD\u5E95\u5927\u5B66**\n7\uFF1A\u9A6C\u6765\u4E9A\u5927\u5B66\
            \n\u5F55\u53D6\u8981\u6C42\uFF1A\nGPA\uFF1E3.0\n\u8BED\u8A00\u6210\u7EE9\
            \uFF1A\u96C5\u601D\uFF1E5\uFF0C\u6258\u798F\uFF1E120\n\u63D0\u4F9B\u5EFA\
            \u8BAE\uFF1A\n\u52A0\u5F3AGPA\n\u5B66\u6821\u7684\u5730\u5740\uFF1A\n\
            XX\u56FDXX\u7701XX\u5E02XX\u8857\u9053\n\u5B66\u6821\u7684\u6BD5\u4E1A\
            \u751F\u60C5\u51B5\uFF1A\n\u5B66\u6821\u7684\u5B66\u672F\u80FD\u529B\uFF1A\
            \n\u901A\u5E38\u7684\u8D39\u7528\uFF1A\uFF08\u5305\u62EC\u751F\u6D3B\u8D39\
            \uFF09\n\n8\uFF1A\u9999\u6E2F\u6D78\u4F1A\u5927\u5B66\n\u5F55\u53D6\u8981\
            \u6C42\uFF1A\nGPA\uFF1E3.0\n\u8BED\u8A00\u6210\u7EE9\uFF1A\u96C5\u601D\
            \uFF1E5\uFF0C\u6258\u798F\uFF1E120\n\u63D0\u4F9B\u5EFA\u8BAE\uFF1A\n\u52A0\
            \u5F3AGPA\n\u5B66\u6821\u7684\u5730\u5740\uFF1A\nXX\u56FDXX\u7701XX\u5E02\
            XX\u8857\u9053\n\u5B66\u6821\u7684\u6BD5\u4E1A\u751F\u60C5\u51B5\uFF1A\
            \n\u5B66\u6821\u7684\u5B66\u672F\u80FD\u529B\uFF1A\n\u901A\u5E38\u7684\
            \u8D39\u7528\uFF1A\uFF08\u5305\u62EC\u751F\u6D3B\u8D39\uFF09\n\n9\uFF1A\
            \u9AD8\u4E3D\u5927\u5B66\n\u5F55\u53D6\u8981\u6C42\uFF1A\nGPA\uFF1E3.0\n\
            \u8BED\u8A00\u6210\u7EE9\uFF1A\u96C5\u601D\uFF1E5\uFF0C\u6258\u798F\uFF1E\
            120\n\u63D0\u4F9B\u5EFA\u8BAE\uFF1A\n\u52A0\u5F3AGPA\n\u5B66\u6821\u7684\
            \u5730\u5740\uFF1A\nXX\u56FDXX\u7701XX\u5E02XX\u8857\u9053\n\u5B66\u6821\
            \u7684\u6BD5\u4E1A\u751F\u60C5\u51B5\uFF1A\n\u5B66\u6821\u7684\u5B66\u672F\
            \u80FD\u529B\uFF1A\n\u901A\u5E38\u7684\u8D39\u7528\uFF1A\uFF08\u5305\u62EC\
            \u751F\u6D3B\u8D39\uFF09"
        selected: false
        title: LLM 6
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1721200645516'
      position:
        x: 2104.554359715306
        y: 423.91543910239784
      positionAbsolute:
        x: 2104.554359715306
        y: 423.91543910239784
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-max-longcontext
          provider: tongyi
        prompt_template:
        - id: 3e899dfc-74bd-4332-8881-75f272247720
          role: system
          text: ''
        - id: bd9ade65-3210-46a0-9c77-7d51dd36082a
          role: user
          text: "\u5B9E\u9645\u5185\u5BB9\u4E25\u683C\u6309\u7167{{#llm.text#}}\u63D0\
            \u4F9B\u7684\u4E09\u6240\u6C42\u7A33\u5927\u5B66\u83B7\u53D6\u76F8\u5173\
            \u4FE1\u606F\uFF0C\u4E25\u683C\u6309\u7167\u8F93\u51FA\u8303\u4F8B\u8F93\
            \u51FA\uFF0C\u8F93\u51FA\u8303\u4F8B\u53EA\u662F\u683C\u5F0F\uFF0C\u5E76\
            \u975E\u5B9E\u9645\u5185\u5BB9\u8F93\u51FA\u8BED\u8A00\u4E3A\u4E2D\u6587\
            \u3002\u4EC5\u4EC5\u8F93\u51FA\u6A21\u677F\u7684\u5185\u5BB9\u5373\u53EF\
            \uFF0C\u4E0D\u9700\u8981\u8F93\u51FA\u5176\u4ED6\u5185\u5BB9\uFF0C\u4E0D\
            \u8981\u968F\u610F\u589E\u52A0\u5176\u4ED6\u58F0\u660E\u3002\n##\u8F93\
            \u51FA\u8303\u4F8B\n**\u6C42\u7A33\u5927\u5B66**\n4\uFF1A\u9999\u6E2F\u57CE\
            \u5E02\u5927\u5B66\n\u5F55\u53D6\u8981\u6C42\uFF1A\nGPA\uFF1E3.0\n\u8BED\
            \u8A00\u6210\u7EE9\uFF1A\u96C5\u601D\uFF1E6\uFF0C\u6258\u798F\uFF1E100\n\
            \u63D0\u4F9B\u5EFA\u8BAE\uFF1A\n\u52A0\u5F3A\u82F1\u6587\u80FD\u529B\uFF0C\
            \u63D0\u9AD8\u8BED\u8A00\u6210\u7EE9\uFF0C\u52A0\u5F3A\u5B66\u672F\u80FD\
            \u529B\n\u5B66\u6821\u4EA4\u901A\u60C5\u51B5\uFF1A\n\u4F4D\u4E8E\u54EA\
            \u91CC\uFF0C\u9644\u8FD1\u6709\u4EC0\u4E48\u4EA4\u901A\n\u5B66\u6821\u7684\
            \u6BD5\u4E1A\u751F\u60C5\u51B5\uFF1A\n\u6709\u591A\u5C11\u4EBA\u5C31\u4E1A\
            \uFF0C\u5C31\u4E1A\u7387\u5982\u4F55\n\u5B66\u6821\u7684\u5B66\u672F\u80FD\
            \u529B\uFF1A\n\u6BCF\u5E74\u79D1\u7814\u4EA7\u51FA\uFF0C\u79D1\u7814\u7ECF\
            \u8D39\n\u901A\u5E38\u7684\u8D39\u7528\uFF1A\n\uFF08\u5305\u62EC\u751F\
            \u6D3B\u8D39\u548C\u5B66\u8D39\u4E00\u5171\u52A0\u8D77\u6765\u5927\u6982\
            \u662F\u591A\u5C11\uFF09\n5\uFF1A\u6FB3\u95E8\u79D1\u6280\u5927\u5B66\n\
            \u5F55\u53D6\u8981\u6C42\uFF1A\nGPA\uFF1E4.0\n\u8BED\u8A00\u6210\u7EE9\
            \uFF1A\u96C5\u601D\uFF1E7\uFF0C\u6258\u798F\uFF1E120\n\u63D0\u4F9B\u5EFA\
            \u8BAE\uFF1A\n\u52A0\u5F3A\u82F1\u6587\u80FD\u529B\uFF0C\u63D0\u9AD8\u8BED\
            \u8A00\u6210\u7EE9\uFF0C\u52A0\u5F3A\u5B66\u672F\u80FD\u529B\n\u5B66\u6821\
            \u4EA4\u901A\u60C5\u51B5\uFF1A\n\u4F4D\u4E8E\u54EA\u91CC\uFF0C\u9644\u8FD1\
            \u6709\u4EC0\u4E48\u4EA4\u901A\n\u5B66\u6821\u7684\u6BD5\u4E1A\u751F\u60C5\
            \u51B5\uFF1A\n\u6709\u591A\u5C11\u4EBA\u5C31\u4E1A\uFF0C\u5C31\u4E1A\u7387\
            \u5982\u4F55\n\u5B66\u6821\u7684\u5B66\u672F\u80FD\u529B\uFF1A\n\u6BCF\
            \u5E74\u79D1\u7814\u4EA7\u51FA\uFF0C\u79D1\u7814\u7ECF\u8D39\n\u901A\u5E38\
            \u7684\u8D39\u7528\uFF1A\n\uFF08\u5305\u62EC\u751F\u6D3B\u8D39\u548C\u5B66\
            \u8D39\u4E00\u5171\u52A0\u8D77\u6765\u5927\u6982\u662F\u591A\u5C11\uFF09\
            \n6\uFF1A\u6FB3\u6D32\u56FD\u7ACB\u5927\u5B66\n\u5F55\u53D6\u8981\u6C42\
            \uFF1A\nGPA\uFF1E4.0\n\u8BED\u8A00\u6210\u7EE9\uFF1A\u96C5\u601D\uFF1E\
            7\uFF0C\u6258\u798F\uFF1E120\n\u63D0\u4F9B\u5EFA\u8BAE\uFF1A\n\u52A0\u5F3A\
            \u82F1\u6587\u80FD\u529B\uFF0C\u63D0\u9AD8\u8BED\u8A00\u6210\u7EE9\uFF0C\
            \u52A0\u5F3A\u5B66\u672F\u80FD\u529B\n\u5B66\u6821\u4EA4\u901A\u60C5\u51B5\
            \uFF1A\n\u4F4D\u4E8E\u54EA\u91CC\uFF0C\u9644\u8FD1\u6709\u4EC0\u4E48\u4EA4\
            \u901A\n\u5B66\u6821\u7684\u6BD5\u4E1A\u751F\u60C5\u51B5\uFF1A\n\u6709\
            \u591A\u5C11\u4EBA\u5C31\u4E1A\uFF0C\u5C31\u4E1A\u7387\u5982\u4F55\n\u5B66\
            \u6821\u7684\u5B66\u672F\u80FD\u529B\uFF1A\n\u6BCF\u5E74\u79D1\u7814\u4EA7\
            \u51FA\uFF0C\u79D1\u7814\u7ECF\u8D39\n\u901A\u5E38\u7684\u8D39\u7528\uFF1A\
            \n\uFF08\u5305\u62EC\u751F\u6D3B\u8D39\u548C\u5B66\u8D39\u4E00\u5171\u52A0\
            \u8D77\u6765\u5927\u6982\u662F\u591A\u5C11\uFF09\n"
        selected: false
        title: LLM 7
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1721201670338'
      position:
        x: 1796.3161415514726
        y: 233.7657847747448
      positionAbsolute:
        x: 1796.3161415514726
        y: 233.7657847747448
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-max-longcontext
          provider: tongyi
        prompt_template:
        - id: 1e44d0d1-8a9d-4752-85f4-7eeb0e0a37d2
          role: system
          text: ''
        - id: 6417ed68-d2c8-409c-a8db-e1d3d56ee965
          role: user
          text: "\u5B9E\u9645\u5185\u5BB9\u4E25\u683C\u6309\u7167{{#llm.text#}}\u63D0\
            \u4F9B\u7684\u4E09\u6240\u6C42\u7A33\u5927\u5B66\u83B7\u53D6\u76F8\u5173\
            \u4FE1\u606F\uFF0C\u4E25\u683C\u6309\u7167\u8F93\u51FA\u8303\u4F8B\u8F93\
            \u51FA\uFF0C\u8F93\u51FA\u8303\u4F8B\u53EA\u662F\u683C\u5F0F\uFF0C\u5E76\
            \u975E\u5B9E\u9645\u5185\u5BB9\u8F93\u51FA\u8BED\u8A00\u4E3A\u4E2D\u6587\
            \u3002\u4EC5\u4EC5\u8F93\u51FA\u6A21\u677F\u7684\u5185\u5BB9\u5373\u53EF\
            \uFF0C\u4E0D\u9700\u8981\u8F93\u51FA\u5176\u4ED6\u5185\u5BB9\uFF0C\u4E0D\
            \u8981\u968F\u610F\u589E\u52A0\u5176\u4ED6\u58F0\u660E\u3002\n##\u8F93\
            \u51FA\u8303\u4F8B\n**\u6C42\u7A33\u5927\u5B66**\n4\uFF1A\u9999\u6E2F\u57CE\
            \u5E02\u5927\u5B66\n\u5F55\u53D6\u8981\u6C42\uFF1A\nGPA\uFF1E3.0\n\u8BED\
            \u8A00\u6210\u7EE9\uFF1A\u96C5\u601D\uFF1E6\uFF0C\u6258\u798F\uFF1E100\n\
            \u63D0\u4F9B\u5EFA\u8BAE\uFF1A\n\u52A0\u5F3A\u82F1\u6587\u80FD\u529B\uFF0C\
            \u63D0\u9AD8\u8BED\u8A00\u6210\u7EE9\uFF0C\u52A0\u5F3A\u5B66\u672F\u80FD\
            \u529B\n\u5B66\u6821\u4EA4\u901A\u60C5\u51B5\uFF1A\n\u4F4D\u4E8E\u54EA\
            \u91CC\uFF0C\u9644\u8FD1\u6709\u4EC0\u4E48\u4EA4\u901A\n\u5B66\u6821\u7684\
            \u6BD5\u4E1A\u751F\u60C5\u51B5\uFF1A\n\u6709\u591A\u5C11\u4EBA\u5C31\u4E1A\
            \uFF0C\u5C31\u4E1A\u7387\u5982\u4F55\n\u5B66\u6821\u7684\u5B66\u672F\u80FD\
            \u529B\uFF1A\n\u6BCF\u5E74\u79D1\u7814\u4EA7\u51FA\uFF0C\u79D1\u7814\u7ECF\
            \u8D39\n\u901A\u5E38\u7684\u8D39\u7528\uFF1A\n\uFF08\u5305\u62EC\u751F\
            \u6D3B\u8D39\u548C\u5B66\u8D39\u4E00\u5171\u52A0\u8D77\u6765\u5927\u6982\
            \u662F\u591A\u5C11\uFF09\n5\uFF1A\u6FB3\u95E8\u79D1\u6280\u5927\u5B66\n\
            \u5F55\u53D6\u8981\u6C42\uFF1A\nGPA\uFF1E4.0\n\u8BED\u8A00\u6210\u7EE9\
            \uFF1A\u96C5\u601D\uFF1E7\uFF0C\u6258\u798F\uFF1E120\n\u63D0\u4F9B\u5EFA\
            \u8BAE\uFF1A\n\u52A0\u5F3A\u82F1\u6587\u80FD\u529B\uFF0C\u63D0\u9AD8\u8BED\
            \u8A00\u6210\u7EE9\uFF0C\u52A0\u5F3A\u5B66\u672F\u80FD\u529B\n\u5B66\u6821\
            \u4EA4\u901A\u60C5\u51B5\uFF1A\n\u4F4D\u4E8E\u54EA\u91CC\uFF0C\u9644\u8FD1\
            \u6709\u4EC0\u4E48\u4EA4\u901A\n\u5B66\u6821\u7684\u6BD5\u4E1A\u751F\u60C5\
            \u51B5\uFF1A\n\u6709\u591A\u5C11\u4EBA\u5C31\u4E1A\uFF0C\u5C31\u4E1A\u7387\
            \u5982\u4F55\n\u5B66\u6821\u7684\u5B66\u672F\u80FD\u529B\uFF1A\n\u6BCF\
            \u5E74\u79D1\u7814\u4EA7\u51FA\uFF0C\u79D1\u7814\u7ECF\u8D39\n\u901A\u5E38\
            \u7684\u8D39\u7528\uFF1A\n\uFF08\u5305\u62EC\u751F\u6D3B\u8D39\u548C\u5B66\
            \u8D39\u4E00\u5171\u52A0\u8D77\u6765\u5927\u6982\u662F\u591A\u5C11\uFF09\
            \n6\uFF1A\u6FB3\u6D32\u56FD\u7ACB\u5927\u5B66\n\u5F55\u53D6\u8981\u6C42\
            \uFF1A\nGPA\uFF1E4.0\n\u8BED\u8A00\u6210\u7EE9\uFF1A\u96C5\u601D\uFF1E\
            7\uFF0C\u6258\u798F\uFF1E120\n\u63D0\u4F9B\u5EFA\u8BAE\uFF1A\n\u52A0\u5F3A\
            \u82F1\u6587\u80FD\u529B\uFF0C\u63D0\u9AD8\u8BED\u8A00\u6210\u7EE9\uFF0C\
            \u52A0\u5F3A\u5B66\u672F\u80FD\u529B\n\u5B66\u6821\u4EA4\u901A\u60C5\u51B5\
            \uFF1A\n\u4F4D\u4E8E\u54EA\u91CC\uFF0C\u9644\u8FD1\u6709\u4EC0\u4E48\u4EA4\
            \u901A\n\u5B66\u6821\u7684\u6BD5\u4E1A\u751F\u60C5\u51B5\uFF1A\n\u6709\
            \u591A\u5C11\u4EBA\u5C31\u4E1A\uFF0C\u5C31\u4E1A\u7387\u5982\u4F55\n\u5B66\
            \u6821\u7684\u5B66\u672F\u80FD\u529B\uFF1A\n\u6BCF\u5E74\u79D1\u7814\u4EA7\
            \u51FA\uFF0C\u79D1\u7814\u7ECF\u8D39\n\u901A\u5E38\u7684\u8D39\u7528\uFF1A\
            \n\uFF08\u5305\u62EC\u751F\u6D3B\u8D39\u548C\u5B66\u8D39\u4E00\u5171\u52A0\
            \u8D77\u6765\u5927\u6982\u662F\u591A\u5C11\uFF09\n"
        selected: false
        title: LLM 8
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1721201684245'
      position:
        x: 2096.3161415514724
        y: 233.7657847747448
      positionAbsolute:
        x: 2096.3161415514724
        y: 233.7657847747448
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -1594.1677304601417
      y: -97.22370626420451
      zoom: 0.8312378961427889
